@import "tailwindcss";

#root {
    font-family: "Exo 2", sans-serif;
    background-color: #000000;

}

body:hover .city-container .city-image {
    transform: scale(1.05);
    filter: drop-shadow(0 0 15px #00FFFF);
}

.page-content {
    position: relative;
    z-index: 10;
}

.fade-contenitor {
    mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 65%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 65%, transparent 100%);

}


.image-container {
    position: relative;
    height: auto;
    overflow: hidden;
}

.base-image {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.2s ease-in-out;
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.image-container:hover .base-image {
    opacity: 0;
}

.image-container:hover .hover-image {
    opacity: 1;
}

img.fade-bottom {
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.scroll-animation {
    animation: scroll 25s linear infinite;
}