@import "tailwindcss";

body,
html,
#root {
    font-family: "Exo 2", sans-serif !important;
    background-color: #000000;

}

body:hover .city-container .city-image {
    transform: scale(1.05);
    filter: drop-shadow(0 0 15px #00FFFF);
}

.page-content {
    position: relative;
    z-index: 10;
}

.fade-contenitor {
    mask-image: linear-gradient(to bottom, transparent 0%, black 45%, black 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 45%, black 85%, transparent 100%);

}

.base-image {
    height: auto;
    display: block;
    transition: opacity 0.2s ease-in-out;
}

img.fade-bottom {
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.scroll-container {
    display: flex;
    width: max-content;
    animation: scroll 40s linear infinite;
}

.scroll-content {
    display: flex;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes pulseSlow {

    0%,
    100% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.5;
    }
}

.pulse-slow {
    animation: pulseSlow 5s ease-in-out infinite;
}

.fade-full {
    -webkit-mask-image:
        linear-gradient(to bottom, black 80%, transparent 100%),
        linear-gradient(to right, black 0%, black 90%, transparent 100%),
        linear-gradient(to left, black 0%, black 90%, transparent 100%);
    mask-image:
        linear-gradient(to bottom, black 80%, transparent 100%),
        linear-gradient(to right, black 0%, black 90%, transparent 100%),
        linear-gradient(to left, black 0%, black 90%, transparent 100%);
    -webkit-mask-composite: intersect;
    mask-composite: intersect;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.base-image,
.hover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: inherit;
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.image-container:hover .hover-image {
    opacity: 1;
}

.image-container:hover .base-image {
    opacity: 0;
}

.swiper-button-prev,
.swiper-button-next {
    display: none !important;
}