@import "tailwindcss";

#root {
    font-family: "Exo 2", sans-serif;
}

body:hover .city-container .city-image {
    transform: scale(1.05);
    filter: drop-shadow(0 0 15px #00FFFF);
}

.page-content {
    position: relative;
    z-index: 10;
}

.image-container {
    position: relative;
    height: auto;
    overflow: hidden;
}

.base-image {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.2s ease-in-out;
}

.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.image-container:hover .base-image {
    opacity: 0;
}

.image-container:hover .hover-image {
    opacity: 1;
}